.test{
    padding: 20px;
    /* border: dotted black; */
}

.forecast-box{
    padding: 20px;
    margin: 10px;
    border-left-style: solid; 
    border-top-right-radius: 25px;
    background: lightskyblue;
}

.city-style{
    background: lightsalmon;
    border-top-right-radius: 25px;
}

#search-container{
    /* margin: 20px; */
    margin-left: 20px;
    float: left;
}

#header{
    align-content: center;
    color: lightsalmon;
    font-style: oblique;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}